
/* Menu */
#menu
{
    background-color: #636363;
    
}

.navbar
{
    background-color: #636363;
}
.bg-dark
{
    background-color: #636363 !important;
}

/* About */
#about
{
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
#about section
{
    text-align: center;
}

/* Banner */
#banner
{
    margin-top: -1px;
    background-color: #636363;
    height: 570px; 
    padding-top: 220px;
}
#banner section
{
    text-align: center;
    color:white;
}

/* Number */
#number
{
    background-image: url('../image/background-number.png');
}
#number section
{
    color:white;
    text-align: center;
}

/* Best projet */
#best-projet
{
    background-color:#f6f6f4;
    padding-bottom: 100px;
}
/* Titre */
#best-projet .titre
{
    text-align: center;
    margin-bottom: 55px;
    margin-top: 90px;
}
/* Première colone  */
#best-projet .element-1 .block-1
{
    height: 250px;
    background-color: lightgrey;
    margin-bottom: 30px;
}
#best-projet .element-1 .block-2
{
    height: 250px;
    background-color: lightgrey;
    margin-bottom: 30px;
}
#best-projet .element-1 .block-3
{
    height: 530px;
    background-color: lightgrey;
}

/* Deuxieme colone */
#best-projet .element-2 .block-1
{
    height: 530px;
    background-color: lightgrey;
    margin-bottom: 30px;
}
#best-projet .element-2 .block-2
{
    height: 250px;
    background-color: white;
    margin-bottom: 30px;
}
#best-projet .element-2 .block-3
{
    height: 250px;
    background-color: lightgray;
}

/* Troisème colone */
#best-projet .element-3 .block-1
{
    height: 250px;
    background-color: lightgray;
    margin-bottom: 30px;
}
#best-projet .element-3 .block-2
{
    height: 530px;
    background-color: lightgray;
    margin-bottom: 30px;
}
#best-projet .element-3 .block-3
{
    height: 250px;
    background-color: lightgray;
}

/* Testimonial */
#testimonial
{
    background-image: url('../image/background-number.png');
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
#testimonial .premier
{
    color:white;
    font-size: 24px;
    font-family:Myriadp pro ;
    font-style: italic;
}
#testimonial .deuxieme
{
    color: white;
    font-size: 14px;
}

/* Client */
#client
{
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

/* Last blog */
#last-blog
{
    border:1px solid black;
}

/* Contact */
#contact
{
    border: 1px solid black;
}