
/* Menu */
#menu
{
    background-color: #636363;
    
}

.navbar
{
    background-color: #636363;
}
.bg-dark
{
    background-color: #636363 !important;
}

/* About */
#about
{
    background-color: white;
}

/* Banner */
#banner
{
    margin-top: -1px;
    background-color: #636363;
    height: 570px; 
    padding-top: 220px;
}
#banner section
{
    text-align: center;
    color:white;
}

/* Number */
#number
{
    background-image: url('../image/background-number.png');
}
#number section
{
    color:white;
}

/* Best projet */
#best-projet
{
    
}
#best-projet .element
{

}
/* Testimonial */
#testimonial
{
    background-image: url('../image/background-number.png');
}

/* Client */
#client
{
    border: 1px solid black;
}

/* Last blog */
#last-blog
{
    border:1px solid black;
}

/* Contact */
#contact
{
    border: 1px solid black;
}