body{
    font-family:Myriad Pro ;
}
/* Menu */
#menu
{
    background-color: #636363;
    
}

.navbar
{
    background-color: #636363;
}
.bg-dark
{
    background-color: #636363 !important;
}

/* About */
#about
{
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
#about section
{
    text-align: center;
}

/* Banner */
#banner
{
    margin-top: -1px;
    background-color: #636363;
    height: 570px; 
    padding-top: 220px;
}
#banner section
{
    text-align: center;
    color:white;
}

/* Number */
#number
{
    background-image: url('../image/background-number.png');
    height: 255px;
    color: white;
}
#number .chiffre
{
    font-size: 18px;
}
#number .texte
{
    font-size: 14px;
}

#number .element{

    margin-top: 100px;

}
#number i{
    font-size: 48px;
}

/* Best projet */
#best-projet
{
    background-color:#f6f6f4;
    padding-bottom: 100px;
}
/* Titre */
#best-projet .titre
{
    text-align: center;
    margin-bottom: 55px;
    margin-top: 90px;
}
/* Première colone  */
#best-projet .element-1 .block-1
{
    height: 250px;
    background-color: lightgrey;
    margin-bottom: 30px;
}
#best-projet .element-1 .block-2
{
    height: 250px;
    background-color: lightgrey;
    margin-bottom: 30px;
}
#best-projet .element-1 .block-3
{
    height: 530px;
    background-color: lightgrey;
}

/* Deuxieme colone */
#best-projet .element-2 .block-1
{
    height: 530px;
    background-color: lightgrey;
    margin-bottom: 30px;
}
#best-projet .element-2 .block-2
{
    height: 250px;
    background-color: white;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 95px;
}
#best-projet .element-2 .block-3
{
    height: 250px;
    background-color: lightgray;
}

/* Troisème colone */
#best-projet .element-3 .block-1
{
    height: 250px;
    background-color: lightgray;
    margin-bottom: 30px;
}
#best-projet .element-3 .block-2
{
    height: 530px;
    background-color: lightgray;
    margin-bottom: 30px;
}
#best-projet .element-3 .block-3
{
    height: 250px;
    background-color: lightgray;
}

/* Testimonial */
#testimonial
{
    background-image: url('../image/background-number.png');
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
#testimonial .premier
{
    color:white;
    font-size: 24px;
    font-family:Myriadp pro ;
    font-style: italic;
}
#testimonial .deuxieme
{
    color: white;
    font-size: 14px;
    margin-top: 35px;
    margin-bottom: 100px;
}

/* Client */
#client
{
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

/* Last blog */
#last-blog
{
    background-color: #f6f6f6; 
    padding-bottom: 100px;
    padding-top: 100px;
}
#last-blog .titre
{
    text-align: center;
    margin-bottom: 30px;
}
#last-blog .panel-body
{
    background-color: white;
    padding:25px;
}
#last-blog .groupe-premier
{
    display: flex;
    padding-bottom: 65px;
}
#last-blog .groupe_un
{
    
}
#last-blog .groupe_un .background
{
    height: 240px;
    background-color: lightgray;
}

#last-blog .groupe_deux
{
    
}
#last-blog .groupe_deux .background
{
    height: 240px;
    background-color: lightgray;
}
#last_block .groupe_trois
{
    
}
#last-blog .groupe_trois .background
{
    height: 240px;
    background-color: lightgray;
}

/* Contact */
#contact
{
    border-top: 1px solid #ececec;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius:0px;
}
#contact span
{
    font-weight: bold;
}
#contact #textarea
{
    height: 100%;
    min-height: 200px;
    max-height: 300px;
}
#contact input
{
    border-radius:0px;
}
#contact button
{
    border-radius:0px;
}

.debut  
  {
    background-image: url('image/background-number.png');
   
    

}